services:
  docs:
    image: abdofallah/iqraai-docs:latest
    container_name: iqra-docs
    restart: always
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - PORT=5000